.todo
{
    font-size: 24px;

    border-bottom: 1px solid #ededed;
}

.control
{
    display: none;
}

.icon
{
    position: relative;

    display: block;
    float: left;

    width: 30px;
    height: 30px;
    margin: 15px 0 0 15px;

    cursor: pointer;

    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
}

.control:checked ~ .icon:after
{
    position: absolute;
    top: 15px;
    left: 9px;

    width: 2px;
    height: 10px;

    content: '';
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);

    background: #5dc2af;
}

.control:checked ~ .icon:before
{
    position: absolute;
    top: 6px;
    left: 16px;

    width: 2px;
    height: 20px;

    content: '';
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);

    background: #5dc2af;
}

.label
{
    font-size: 24px;
    line-height: 1.4em;

    display: block;

    padding: 14px 60px 14px 60px;

    text-align: left;
    vertical-align: baseline;
    text-overflow: ellipsis;

    color: #333;
}

.control:checked ~ .label
{
    text-decoration: line-through;

    color: #d9d9d9;
}

.destroy
{
    position: relative;

    display: none;
    float: right;

    width: 30px;
    height: 30px;
    margin: 15px 15px 0 0;
    padding: 0;

    cursor: pointer;

    border: none;
    outline: none;
    background: transparent;
}

.destroy:after
{
    position: absolute;
    top: 7px;
    left: 14px;

    width: 2px;
    height: 20px;

    content: '';
    transform: rotate(45deg);

    background: #cc9a9a;
}

.destroy:before
{
    position: absolute;
    top: 7px;
    left: 14px;

    width: 2px;
    height: 20px;

    content: '';
    transform: rotate(-45deg);

    background: #cc9a9a;
}

.destroy:hover:after,
.destroy:hover:before
{
    background: #af5b5e;
}

.todo:hover .destroy
{
    display: block;
}
