doctype html
html
  head
    title todos
    link(rel='stylesheet', href='/globals.css')
    link(rel='stylesheet', href='/common.css')

  body
    div#container !{innerHtml}
    script(type='text/javascript', src='/browser.js')
