.container
{
  display: flex;
  flex-flow: row nowrap;

  margin: 0;
  padding: 16px;

  border-top: 1px solid #ededed;
}

.common-text
{
  flex: 1;

  text-align: left;
  text-overflow: ellipsis;

  font-size: 24px;
  line-height: 30px;
}

.text
{
  composes: common-text;
}

.crossed-text
{
  composes: common-text;

  text-decoration: line-through;

  color: #777;
}
