.common
{
  cursor: pointer;
}

.finished
{
  color: #417505;

  composes: common;
  composes: fa fa-check from 'font-awesome/css/font-awesome.css';
}

.unfinished
{
  color: #4d4d4d;

  composes: common;
  composes: fa fa-circle-thin from 'font-awesome/css/font-awesome.css';
}

.times
{
  color: #d0021b;

  composes: common;
  composes: fa fa-times from 'font-awesome/css/font-awesome.css';
}
